@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-color: #2B388F;
    --text-color: #ffffff;
    --hover-color: #75BF56;
    --navbar-font-size: 1.5rem;
    --navbar-icon-size: 2rem;
    --bar-color: #007f00;
    --bar-secondary: rgba(173, 235, 255, 0.59);
    --header-font: "Urbanist", Inter, sans-serif;
    --header-font-weight: 600;
}
  
body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}
  
.navbar a {
    display: block;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: var(--navbar-font-size);
    text-align: center;
    text-decoration: none;
    
}

.navbar div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}


.homeword div {
    padding-right: 15%;
        
} 

.homeword a {
        padding-top: 3.5%;
}

.navbar a:hover {
    color: var(--hover-color);
}

.navbar .current-page::after {
    content: '';
    display: block;
    width: 10%;
    height: 4px;
    background-color: var(--bar-color);
    margin: auto;
    border-radius: 2px;
    position: absolute;
    bottom: -0.5rem;
    left: 15%;
    transform: translateX(-40%);
}

.nav-icon {
    height: var(--navbar-icon-size);
    padding-right: 1 rem;
    padding-left: 2 rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    margin-bottom: -10%;
}

/* Home Icon */
.home-icon {
    height: 2em;
    padding-top: 1%; 
    margin-left: 9.4%;
    margin-top: 0%;
    margin-bottom: -5.4%;

}

.underlined-text {
    position: relative;
    display: inline-block;
}

.underlined-text::after {
    content: '';
    display: block;
    width: 50%;
    height: 4px;
    background-color: var(--bar-color);
    margin: auto;
    margin-top: 0.5rem;
    border-radius: 2px; 
    left: 25%;
}

/*First Type of font*/
h1 {
    color: var(--text-color);
    font-family: '"Urbanist"', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
} 
/*Second Type of font*/
h2 {
    color: var(--text-color);
    font-family: var(--header-font);
    font-weight: 550;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.center-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.source-list {
    width: 70%;
    margin: auto;
}

.source-list h2 {
    color: var(--text-color);
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

.source-list p {
    color: var(--text-color);
    font-family: 'Urbanist', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.source-list a {
    color: var(--text-color);
}
/*Map styles*/

.faqHeader{
    width: fit-content;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    line-height: .5rem;
}
.faqSubHeader{
    font-size: 1.6rem;
    font-family: var(--header-font);
    margin-bottom: .5rem;
}
.faqUnderline{
    height: 10px;
    width: 100%;
    background-color: var(--bar-color);
    border-radius: 8vmin;
}
.subHeaderBar{
    height: 10px;
    width: 35%;
    background-color: var(--bar-secondary);
    border-radius: 8vmin;
}
.mapAndFAQ, .mapContent, .faq, .faqBottomSection, .faqBottomSegment{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     
  
}
.faqBottomSection{
    width: fit-content;
    margin: auto;
    padding: auto;
    margin-bottom: 1vh;
   
}
.subHeaderContent{
    font-family: 'Urbanist', sans-serif;
    font-weight: medium;
    color: var(--text-color);
    text-indent: 5%; 
    margin-right: 2rem;
    margin-left: 2rem;
}

/*End of map styles*/

/* Start of Form Styles*/

.formWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.formFrame{
    width: 100%;
    background-color: #007f00;
    max-width: 750px;
    height: 80vh;
}
/* End of Form Styles*/
